<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CEDD_Test/src/com/yc/test/Test_Fuzzy10Bin.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.yc.test.Test_Fuzzy10Bin"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CEDD_Test"/>
</launchConfiguration>
